/* Flex deals with 1d, grid with 2d 
Justify Content controls Flex
Center
Flex start
Flex end
Space Between 
even space between all elements
*/

body {
    background-color: #1B3764;
}

.logo {
    width: 24.5px;
    height: 28px;

}

.left h1 {
    font-family: "Inter";
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 10px;
}

.left img {
    margin: 5px;
}

.Facebook {
    width: 9px;
    height: 16px;
    padding: 9px 13px;
    background-color: white;
}

.Twitter {
    width: 15px;
    height: 16px;
    padding: 9px 10px 9px 11px;
    background-color: white;
}

.annoying {
    width: 13px;
    height: 16px;
    padding: 8px 11px 10px 12px;
    background-color: white;
}

.shopping-cart {
    width: 24px;
    height: 23px; 
    margin: 10px;
}

.order {
    width: 164px;
    height: 46px;
    font-size: 18px;
    background-color: #FFCA42;
    color: #1B3764;
    font-family: "Cardo";
}

nav {
    font-family: "Inter";
    display: flex;
    justify-content: space-between;
    background-color: #1B3764;
    margin-left: 60px;
    margin-right: 60px;
}

nav .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    font-size: 14px;
}

@media (min-width: 1200px) {
    nav {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    a {
        margin: 20px;
    }

    .left h1 {
        margin-left: 10px;
        margin-right: 20px;
    }
    
    .left img {
        margin: 10px;
    }

}



















